<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AccountContact_MessageHistoryLV">
    <Require
      name="accContact"
      type="AccountContact"/>
    <RowIterator
      editable="false"
      elementName="sms"
      value="accContact.Messages">
      <Row>
        <Cell
          id="sendFrom"
          label="&quot;Send From&quot;"
          value="sms.SendFromUser"/>
        <Cell
          id="messageLogs"
          label="&quot;Message Body&quot;"
          value="sms.MessageBody"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>