<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    editable="true"
    id="ContactDetailsInputSet">
    <Require
      name="sms"
      type="TwilioSMS"/>
    <Require
      name="account"
      type="Account"/>
    <RangeInput
      editable="true"
      id="ToNumber"
      label="&quot;To&quot;"
      required="true"
      value="sms.SendTo"
      valueRange="account.AccountContacts*.Contact">
      <PostOnChange
        onChange="sms.SendFrom=User.util.CurrentUser"/>
    </RangeInput>
    <TextAreaInput
      editable="true"
      id="MessageBody"
      label="&quot;Message Body&quot;"
      required="true"
      value="sms.MessageBody"
      visible="true"/>
  </InputSet>
</PCF>