<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    editable="true"
    id="ContactDetailsInputSet">
    <Require
      name="sms"
      type="TwilioSMS"/>
    <TextInput
      editable="true"
      id="ToNumber"
      label="&quot;To Number&quot;"
      required="true"
      value="sms.ToNumber"
      visible="true"/>
    <TextInput
      editable="true"
      id="FromNumber"
      label="&quot;From Number&quot;"
      required="true"
      value="sms.FromNumber"
      visible="true"/>
    <TextAreaInput
      editable="true"
      id="MessageBody"
      label="&quot;Message Body&quot;"
      required="true"
      value="sms.SMSBody"
      visible="true"/>
  </InputSet>
</PCF>