<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="ContactDetailsDV"
    visible="true">
    <Require
      name="sms"
      type="TwilioSMS"/>
    <Require
      name="account"
      type="Account"/>
    <InputColumn>
      <InputSetRef
        def="ContactDetailsInputSet(sms,account)"
        editable="true"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>