<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="MessageHistoryLV">
    <Require
      name="messages"
      type="TwilioSMS[]"/>
    <RowIterator
      editable="false"
      elementName="message"
      value="messages">
      <Row>
        <TextCell
          action="EditAccountContactPopup.push(message.AccountContactID)"
          id="To"
          label="&quot;Send To Contact&quot;"
          value="message.SendToContact"/>
        <TextAreaCell
          id="MessageBody"
          label="&quot;Message Body&quot;"
          numRows="5"
          value="message.MessageBody"/>
        <TextCell
          id="MessageStatus"
          label="&quot;Message Status&quot;"
          value="message.MessageStatus"/>
        <TextCell
          action="AccountFile_Summary.go(message.AccountContactID.Account)"
          id="AccountNumber"
          label="&quot;Account Number&quot;"
          value="message.AccountContactID.Account.AccountNumber"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>