<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Worksheet
    canEdit="true"
    canVisit="true"
    id="SendSMSWorksheet"
    startInEditMode="true"
    tabLabel="&quot;CONTACT&quot;"
    title="&quot;CONTACT&quot;">
    <LocationEntryPoint
      signature="SendSMSWorksheet(account:Account)"/>
    <Scope
      location="*"/>
    <Variable
      initialValue="new TwilioSMS()"
      name="sms"
      type="TwilioSMS"/>
    <Variable
      name="account"
      type="Account"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="sms.addEvent(&quot;SendSMS&quot;);CurrentLocation.commit()"
          id="ToolbarButton"
          label="&quot;Send SMS&quot;"
          visible="true"/>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="ToolbarButtonTwilioSMS"
          label="&quot;Cancel&quot;"/>
      </Toolbar>
      <PanelRef
        def="SMSDetailsDV(sms,account)"
        editable="true"
        visible="true"/>
    </Screen>
  </Worksheet>
</PCF>