<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="TwilioAuthenticationDetailsDV">
    <Require
      name="authentication"
      type="User"/>
    <InputColumn>
      <TextInput
        editable="true"
        id="AccountSid"
        label="&quot;Account SID&quot;"
        required="true"
        value="authentication.accountSID"/>
      <PasswordInput
        editable="true"
        id="TwilioAuthToken"
        label="&quot;Auth Token&quot;"
        required="true"
        value="authentication.auothTOKEN"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>